.dropdown {
  background-color: rgba(255, 255, 255, 0.15);
  justify-content: space-between;
  border-radius: var(--border-radius);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 36px;
  line-height: 1.1;

  transition: background-color 0.35s;
}

.dropdown:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.icon {
  font-size: 0.7rem;
}

.formControlLabel {
  border-radius: var(--border-radius);
  color: rgba(255, 255, 255, 0.87);
  flex-grow: 1;
  font-size: 0.875rem;
  user-select: none;
  padding: 0;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.35s ease-out;
}

.formControlLabel:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.03);
}

.item {
  border-radius: var(--border-radius);
  padding: 0px 12px;
  transition: background-color 0.1s ease-in;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  border: 1px solid red;
}

.checkbox {
  color: rgba(255, 255, 255, 0.2);
}

.label {
  font-size: 0.875rem;
  color: white;
  user-select: none;
  border: 1px solid green;
}

.item:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
}

.subtitle {
  font-weight: 300;
  opacity: 0.8;
}
