.container {
  overflow: hidden;
  position: relative;
}

.imgContainer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: auto;
  width: 100%;
  aspect-ratio: 2/3;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  transition: transform 0.35s ease-out, opacity 0.675s ease-out;
}

.img:hover {
  transform: scale(1.08);
}

.skeleton {
  position: absolute;
  top: 0;
}

.info {
  flex-direction: column;
  justify-content: center;
  margin-top: 0.875rem;
}

.title {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}

.meta {
  opacity: 0.8;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.rating {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
