.container {
  overflow: hidden;
  position: relative;
}

.imgContainer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  width: 100%;
  aspect-ratio: 2/3;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  transition: transform 0.35s ease-out, opacity 1s linear;
}

.img:hover {
  transform: scale(1.08);
}

.rating {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 3px 8px;
  margin: 12px 16px;
}
