.container {
  overflow: hidden;
  position: relative;
}

.imgContainer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  width: 100%;
  aspect-ratio: 2/3;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  transition: transform 0.35s ease-out, opacity 1s linear;
}

.img:hover {
  transform: scale(1.08);
}

.info {
  flex-direction: column;
  justify-content: center;
  margin-top: 0.875rem;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1;
}

.meta {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 2px;
  margin-right: 6px;
  display: flex;
  align-items: center;
}

.date {
  opacity: 0.75;
  margin-right: 6px;
}

.rating {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}
