.link {
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: space-between;
  line-height: 1.1;
  text-transform: capitalize;
  padding: 8px 10px;
  width: 100%;

  transition: background-color 0.35s ease-out;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.button {
  opacity: 0;
  transition: transform 0.35s ease-out, opacity 0.35s;
  transform: translateX(-10px);
}

.link:hover .button {
  opacity: 1;
  transform: translateX(0);
}
