.container {
  position: relative;
  z-index: 9999;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  position: absolute;
  height: 100%;
  width: 100%;

  transition: opacity 0.45s linear;
}

.inner {
  background-color: var(--primary-background);
  min-width: 275px;
}
