.genre {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 24px;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 6px 12px;
  margin-right: 6px;
  margin-bottom: 6px;
  line-height: 1.1;

  transition: all 0.25s;
}

.genre:hover {
  border-color: transparent;
  background-color: var(--red);
}
