/* INPUT SEARCH */
.form {
  display: flex;
  align-items: center;
  position: relative;
  margin-block-end: 0;
  z-index: 200;
}

.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  color: white;
  outline: none;
  padding: 6px 2.5rem;
  width: 100%;
}

.inputRight {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
  position: absolute;
  right: 0;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.67);
  font-weight: 300;
}

.input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid var(--purple);
}

.input:focus + label {
  color: var(--purple);
}

.button {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  display: flex;
  font-size: 0.875rem;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  width: 100%;

  transition: background-color 0.25s ease-out;
}

.button:hover {
  background-color: var(--brand-color);
}

.placeholder {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  display: flex;
  font-size: 0.875rem;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  width: 100%;
}
