.container {
  padding: 6px 6px;
  transition: background-color 0.2s;
  width: 100%;
  overflow: hidden;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.imgContainer {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  margin-right: 16px;
  overflow: hidden;
  height: 64px;
  width: 48px;
  min-width: 48px;
  min-height: 64px;
}

.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.title {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 8px;
  line-height: 1.8;
  margin-bottom: 4px;
  flex-grow: 1;
}

.meta {
  display: flex;
  align-items: center;
}

.icon {
  color: #f3ce13;
  font-size: 0.7rem;
  font-weight: 400;
  margin-right: 6px;
  margin-top: -1px;
}
