.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 71px;
}

.navDots {
  display: flex;
  position: absolute;
  z-index: 101;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.dot {
  background-color: white;
  opacity: 0.2;
  height: 2px;
  width: 8px;
  margin-right: 4px;
  transition: opacity 0.2s;
}

.dotActive {
  opacity: 1;
}

.carousel {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 500ms;
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  height: 36px;
  width: 36px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
}

.container:hover .button {
  opacity: 1;
  pointer-events: all;
}

.next {
  right: 8px;
}

.prev {
  left: 8px;
}

@media (min-width: 992px) {
  .row8 > * {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}
