.indicatorButton {
  background: none;
  border: none;
  padding: 6px 4px;
}

.indicator {
  background-color: white;
  border-radius: 9999px;
  opacity: 0.15;
  height: 6px;
  width: 6px;
}

.active {
  background: var(--red);
  opacity: 1;
}
