.container {
  position: relative;
  max-height: 70vh;
  /* aspect-ratio: 16/9; */
  width: 100vw;
  overflow: hidden;
}

.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.875s;
}

.skeleton {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.title {
  color: white;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  margin-right: 2rem;
}

.ratingIcon {
  margin-right: 6px;
  margin-left: 12px;
  color: var(--yellow);
  font-size: 0.75rem;
}

.overview {
  max-width: calc(70vw);
}
