.indicatorButton {
  background: none;
  border: none;
  padding: 6px 4px;
}

.indicator {
  background-color: var(--red);
  border-radius: 9999px;
  opacity: 0.2;
  height: 6px;
  width: 6px;
  transition: opacity 0.3s;
}

.active {
  background: var(--red);
  opacity: 1;
}
