.container {
  aspect-ratio: 16/9;
  max-height: 70vh;
  position: relative;
  min-width: 100%;
}

.indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  margin-left: auto;
  width: 100%;
}

.indicatorButton {
  background: none;
  border: none;
  padding: 10px 4px;
}

.indicator {
  background-color: white;
  border-radius: 9999px;
  opacity: 0.15;
  height: 6px;
  width: 6px;
}

.active {
  opacity: 1;
}
