.container {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
  overflow: hidden;

  transition: background-color 0.35s;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.imgContainer {
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.15);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
}

.initials {
  text-transform: uppercase;
  font-size: 1.25rem;
  color: white;
  font-weight: 500;
  position: absolute;
}

.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: opacity 0.875s linear;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.link {
  color: var(--link-color);
}

.link:hover {
  text-decoration: underline;
}
