.container {
  max-height: 70vh;
  position: relative;
  aspect-ratio: 16/9;
  width: 100vw;
}

.backdropContainer {
  height: 100%;
  max-height: 70vh;
  width: 100vw;
  transition: opacity 0.875s;
  overflow: hidden;
  position: relative;
}

.backdrop {
  height: 100%;
  object-fit: cover;
  width: 100vw;
  overflow: hidden;
  transition: opacity 0.875s;
}

.skeleton {
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  transition: opacity 0.875s;
}

.inner {
  padding-top: 24px;
  position: absolute;
  bottom: -5%;
  z-index: 10;
  width: 100vw;
}

.meta {
  display: flex;
  position: relative;
}

.imgContainer {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: var(--border-radius);
  position: relative;
  max-height: 266.666667px;
  height: auto;
  min-height: calc(4px * 33.3333333);
  width: 24vw;
  max-width: 200px;
  min-width: 100px;
  aspect-ratio: 3/4;
  overflow: hidden;
}

.img {
  object-fit: cover;
  height: 100%;
  width: 100%;

  transition: opacity 0.875s ease-out;
}

.imgSkeleton {
  position: absolute;
  top: 0;
}

.info {
  margin-left: 16px;
  margin-top: 0px;
  margin-right: 16px;
}

.title {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1;
  margin-right: 1.5rem;
  margin-top: 2px;
}

.subtitle {
  font-size: 0.875rem;
  margin-top: 4px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.runtime {
  line-height: 1;
  padding: 4px 4px;
  margin-left: 11px;
}

.ratingIcon {
  margin-left: 11px;
  margin-right: 6px;
  color: var(--yellow);
  font-size: 0.7rem;
}

.actions {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-left: -12px;
}

.button {
  display: flex;
  color: white;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
}
