.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.tagline {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.25;
  font-style: normal;
  margin-bottom: 16px;
}

.heading {
  font-weight: 400;
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.67);
}

.genre {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  color: white;
  font-size: 0.8rem;
  padding: 6px 12px;
  margin: 0 8px 8px 0;

  transition: background-color 0.2s;
}

.genre:hover {
  border-color: transparent;
  background-color: var(--purple);
}

.imdb {
  color: #f3ce13;
  font-weight: 500;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  margin-right: 12px;
  margin-left: 16px;
}

.imdb:hover {
  color: #f3ce13;
}

.imdb:hover .imdbText {
  text-decoration: underline;
}

.certification {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  line-height: 1;
  font-size: 0.7rem;
  padding: 5px 6px 4px 6px;
}
