.container {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 12px;
  overflow: hidden;
}

.title {
  color: white;
  margin-left: 2px;
}

.author {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0px;
}

.username {
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.67;
  margin-bottom: 8px;
}

.rating {
  font-weight: 400;
}

.content {
  max-height: 172px;
  overflow: hidden;
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: 8px;
}

.date {
  font-size: 0.8rem;
  opacity: 0.87;
  font-weight: 400;
}
