.container {
  overflow: hidden;
  position: relative;
}

.imgContainer {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  width: 100%;
  aspect-ratio: 2/3;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  transition: transform 0.35s ease-out;
}

.img:hover {
  transform: scale(1.08);
}

.rating {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
}

.title {
  font-size: 0.875rem;
  font-weight: 500;
}
