.dropdown {
  background-color: #1b2435;
  justify-content: space-between;
  border-radius: var(--border-radius);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 36px;
  line-height: 1.1;
}

.icon {
  font-size: 0.7rem;
}

.item {
  border-radius: var(--border-radius);
  padding: 0px 12px;
  transition: background-color 0.1s ease-in;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

.checkbox {
  color: rgba(255, 255, 255, 0.2);
}

.label {
  font-size: 0.875rem;
  color: white;
  user-select: none;
}

.item:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
}

.subtitle {
  font-weight: 300;
  opacity: 0.8;
}
