.test {
  border: 1px solid red;
  height: 32px;
}

.button,
.reset {
  border-radius: var(--border-radius);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  padding: 0 16px;
  height: 36px;
  line-height: 1.1;
}

.button {
  background-color: var(--brand-color);
  justify-content: center;
}

.reset {
  background-color: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: center;
}
