@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --brand-color: rgba(16, 46, 161, 1);
  --brand-color-secondary: #01e7d3;
  --brand-color-border: rgba(16, 46, 161, 0.3);
  --brand-color-shade-80: #030920;
  --brand-color-hover: #0d2581;
  --primary-color: rgba(255, 255, 255, 0.87);
  --secondary-color: rgba(255, 255, 255, 0.6);
  /* --primary-background: rgba(2, 12, 30, 1); */
  --primary-background: #000206;
  --primary-background-85: rgba(2, 12, 30, 0.85);
  /* --primary-background-95: rgba(2, 12, 30, 0.97); */
  --primary-background-95: #010409;
  /* --primary-background-95-rgba: #031027; */
  --primary-background-95-rgba: #010409;
  --primary-background-50: rgba(2, 12, 30, 0.75);
  --secondary-background: #0b1528;
  --red: #e50914;
  --border-radius: 10px;

  --light-grey: #8c99ae;
  --grey: #374758;
  --dark-grey: #202832;

  --orange: rgb(255, 103, 1);
  --yellow: rgb(255, 223, 0);
  --purple: rgb(110, 0, 255);
  --pink: rgb(254, 40, 214);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

body {
  background-color: var(--primary-background-95-rgba);
  color: var(--primary-color);
  font-size: 14px;
  font-family: Rubik, Roboto, "Segoe UI", sans-serif;
  min-width: 200px;
  width: auto !important;
  width: 200px;
  overflow-x: hidden;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(206, 206, 206) white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #0a0a0a;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
}

.MuiPopover-root {
  margin-top: 6px !important;
  max-height: 70vh;
}

.MuiPopover-paper {
  background-color: #0f0f0f !important;
  border-radius: var(--border-radius) !important;
  padding: 10px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* .MuiPopover-root {
    max-width: 50vw !important;
  } */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
