.button {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 9999px;
  color: var(--primary-background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  min-width: 32px;
  line-height: 1;
  transition: background-color 0.2s linear;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.link {
  display: flex;
  justify-content: center;
  line-height: 2;
  overflow: hidden;
}

.link::before {
  content: '';
  background-color: var(--red);
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;

  transform: translateX(-102%);
  transition: transform 0.25s ease-out;
}

.link:hover::before {
  transform: translateX(0);
}
